<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MedMapper</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.opensourcedit.com/medmapper.apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.opensourcedit.com/medmapper.favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.opensourcedit.com/medmapper.favicon-16x16.png">
    <link rel="stylesheet" href="https://cdn.opensourcedit.com/bootstrap.min.css">
    <script src="https://cdn.opensourcedit.com/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.opensourcedit.com/html5-qrcode@2.0.9.min.js"></script>
    <script src="https://cdn.opensourcedit.com/qrcode.min.js"></script>
</head>

<body class="bg-dark">
    {{{body}}}
</body>

</html>