{{> nav }}
<div class="d-flex flex-row w-100">
    <div class="d-flex flex-column">
        <div id="qrcode" data-link={{data.link}} class="p-4 border-black rounded"></div>
        <button id="copytoclipboard" type="button" data-link={{data.link}}
            class="mx-4 my-4 mt-2 mb-2 p-2 text-white bg-primary border-0 rounded" onclick="copyContent()">
            Copy Link
        </button>
    </div>
</div>
<script type="text/javascript">
    const qrCodeEl = document.getElementById('qrcode'),
        clipboardEl = document.getElementById('copytoclipboard');
    const qr = new QRCode(qrCodeEl, qrCodeEl.getAttribute('data-link'));
    const copyContent = async () => {
        let text = clipboardEl.getAttribute('data-link');
        try {
            await navigator.clipboard.writeText(text);
            clipboardEl.innerText = 'Copied!';
            setTimeout(() => {
                clipboardEl.innerText = 'Copy Link';
            }, 2000);
        } catch (error) {
            console.error(error);
        }
    }
</script>