{{> nav }}
<table class="table table-sm text-white">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Barcode</th>
            <th scope="col">QOH</th>
        </tr>
    </thead>
    <tbody id="table-body">
        <tr>
            <th scope="row">1</th>
            <td>000-000-000</td>
            <td>Example</td>
        </tr>
    </tbody>
</table>